:root {
  --primary: #4d96a9;
  --secondary: #855fb1;
  --heading-text: #28283d;
  --paragraph-text: #87879d;
  --cyan: #8fe3f9;
  --pink: #d9b8ff;
  --light: #fafafa;
  --white: #fff;

  --heading-bg: 64px;
  --heading-md: 48px;
  --heading-sm: 40px;
  --heading-xsm: 32px;

  --text-sm: 18px;
  --text-xsm: 16px;

  --radius-button-bg: 29px;
  --radius-button-sm: 8px;
}

body {
  font-family: "Red Hat Display", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--light);
}

/* 
    Header - logo
*/

.logo-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px 0;
}

.logo-container img {
  width: 120px;
  height: 28px;
}

/* 
    Hero and call to action buttons
*/

.hero {
  overflow-x: hidden;
  display: grid;
  grid-template-areas:
    "left"
    "content";
}

.image-hero-left {
  grid-area: left;
  display: flex;
  justify-content: center;
}

.image-hero-right {
  display: none;
}

.image-hero-left img {
  width: 110%;
}

.hero-content {
  margin-top: 48px;
  grid-area: content;
  place-self: center;
  width: 90%;
  min-width: 315px;
  max-width: 457px;
  text-align: center;
}

.info-content h1 {
  padding: 0 28px;
  margin-top: 24px;
  margin-bottom: 24px;
  line-height: var(--heading-sm);
  font-size: var(--heading-sm);
  color: var(--heading-text);
}

.info-content p {
  font-size: var(--text-xsm);
  line-height: 26px;
  color: var(--paragraph-text);
  margin-bottom: 32px;
}

.buttons-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  color: var(--white);
  font-size: var(--text-xsm);
  font-weight: bold;
  padding: 16px 40px;
  border-radius: var(--radius-button-bg);
  border: none;
  height: 58px;
  cursor: pointer;
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  justify-content: center;
}

.btn span {
  margin-left: 5px;
}

.btn-primary {
  width: 193px;
  background-color: var(--primary);
  margin-bottom: 16px;
}

.buttons-content .btn-primary:hover {
  background-color: #71c0d4;
}

.btn-secondary:hover {
  background-color: #b18bdd;
}

.btn-primary span {
  color: var(--cyan);
}

.btn-secondary {
  padding: 16px 29px;
  width: 139px;
  background-color: var(--secondary);
}

/* 
    What is it? section 
*/

.what-is-section {
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle-number {
  position: relative;
  width: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle-number hr {
  width: 84px;
  transform: rotate(90deg);
  transform-origin: top left;
  position: absolute;
  top: -7px;
  left: 50%;
  opacity: 0.25;
  border-top: 1px solid var(--paragraph-text);
}

.circle-number div {
  width: 56px;
  height: 56px;
  border: 1px solid rgba(135, 135, 157, 0.25);
  border-radius: 50%;
  margin-top: 85px;
  display: grid;
  place-items: center;
  color: var(--paragraph-text);
  background-color: var(--light);
}

.images-container {
  margin: 64px 0;
  width: 91%;
  min-width: 290px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(151px, 1fr));
  gap: 16px;
}

.images-container img {
  width: 100%;
  object-fit: cover;
  border-radius: var(--radius-button-sm);
}

.what-is {
  text-align: center;
  width: 91%;
  min-width: 290px;
  max-width: 573px;
}

.what-is .text-spacing {
  font-size: var(--text-xsm);
  color: var(--primary);
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 900;
}

.what-is h2 {
  font-size: var(--heading-xsm);
  color: var(--heading-text);
  line-height: 36px;
  margin: 24px 0 32px 0;
}

.what-is p {
  font-size: var(--text-xsm);
  color: var(--paragraph-text);
  font-weight: 500;
  line-height: 26px;
}

/* 
    Experience section - footer
*/

.experience-section {
  margin-top: 64px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.experience-section > div:first-child {
  width: 100%;
  height: 112px;
}

.experience-section .circle-number {
  position: absolute;
}

.experience-section .experience-content {
  width: 100%;
  height: 428px;
  background-image: linear-gradient(
      rgba(77, 150, 168, 0.9),
      rgba(77, 150, 168, 0.9)
    ),
    url("./assets/mobile/image-footer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
}

.text-content {
  width: 90%;
  min-width: 290px;
  max-width: 573px;
  margin: 92px 0 72px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-content h2 {
  font-size: var(--heading-xsm);
  color: var(--light);
  font-weight: 900;
  line-height: 36px;
  margin-bottom: 24px;
}

.text-content p {
  font-size: var(--text-sm);
  line-height: 26px;
  font-weight: 500;
  color: var(--light);
  margin-bottom: 32px;
}

.text-content .btn-secondary {
  width: 193px;
}

.text-content .btn-secondary span {
  color: var(--pink);
}

@media (min-width: 768px) {
  .hero-content {
    margin-top: 72px;
  }

  .info-content h1 {
    font-size: var(--heading-md);
    line-height: var(--heading-md);
  }

  .hero-content .buttons-content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .buttons-content .btn-primary {
    margin-bottom: 0;
    margin-right: 16px;
  }

  .what-is h2 {
    font-size: var(--heading-sm);
    line-height: 44px;
  }

  .what-is p {
    font-size: var(--text-sm);
    line-height: 26px;
  }

  .experience-section .experience-content {
    background-image: linear-gradient(
        rgba(77, 150, 168, 0.9),
        rgba(77, 150, 168, 0.9)
      ),
      url("./assets/tablet/image-footer.jpg");
  }

  .text-content h2 {
    font-size: var(--heading-sm);
    padding: 0 32px;
    line-height: 44px;
  }

  .text-content p {
    font-size: var(--text-sm);
    line-height: 26px;
  }
}

@media (min-width: 1024px) {
  .hero {
    grid-template-areas: "left content right";
    gap: 3%;
  }

  .image-hero-right {
    grid-area: right;
  }

  .image-hero-left,
  .image-hero-right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-hero-right img,
  .image-hero-left img {
    width: 100%;
    min-width: 280px;
    max-width: 450px;
  }

  .info-content h1 {
    font-size: var(--heading-bg);
    line-height: var(--heading-bg);
  }

  .info-content p {
    font-size: var(--text-sm);
  }

  .hero .hero-content {
    width: 100%;
    min-width: 420px;
    max-width: 540px;
  }

  .images-container {
    width: 70%;
  }

  .experience-section .experience-content {
    background-image: linear-gradient(
        rgba(77, 150, 168, 0.9),
        rgba(77, 150, 168, 0.9)
      ),
      url("./assets/desktop/image-footer.jpg");
    height: 308px;
  }

  .experience-content .text-content {
    width: 90%;
    min-width: 573px;
    max-width: 1110px;
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 48px;
    text-align: left;
    place-items: center;
  }

  .text-content h2 {
    width: 350px;
  }

  .text-content .btn-secondary {
    margin-left: 32px;
  }
}
